.title {
  text-transform: uppercase;
  color: #666;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 24px;
}

.assetsContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.container {
  margin-top: 72px;
}